<!doctype html>
<meta charset="utf-8">

<meta name="referrer" content="no-referrer">
<meta name="viewport" content="height=device-height,width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">

<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text x='50%' y='50%' style='dominant-baseline:central;text-anchor:middle;font-size:100px;'>🌌</text></svg>">

<script async type="module">
    import {createApp, defineComponent, ref, reactive, inject, computed} from "https://esm.sh/vue@3.5.13/dist/vue.esm-bundler.js?target=esnext";
    import {createRouter, createWebHashHistory, useRouter} from "https://esm.sh/vue-router@4.5.0/dist/vue-router.esm-bundler.js?target=esnext";
    import {createVuetify, useDisplay, useLayout, useTheme} from "https://esm.sh/vuetify@3.8.1/dist/vuetify.esm.js?target=esnext";

    /**
    * @template T
    * @typedef {object} Ref
    * @property {T} value
    */

    /**
    * @typedef {object} Notify
    * @property {string} color
    * @property {string} message
    */

    function useCommonUI() {
        /** @type {Ref<boolean>} */
        const nav = inject("$_nav");
        /** @type {Ref<boolean>} */
        const loading = inject("$_loading");
        /** @type {Notify[]} */
        const notifies = inject("$_notifies");

        /**
        * @param {boolean=} state
        * @return {void}
        */
        function toggleNav(state) {
            nav.value = state ?? !nav.value;
        }

        /**
        * @param {boolean=} state
        * @return {void}
        */
        function toggleLoading(state) {
            loading.value = state ?? !loading.value;
        }

        /**
        * @param {string} message
        * @param {string} color
        * @return {void}
        */
        function pushNotify(message, color) {
            notifies.push({
                message: message,
                color: color
            });
        }

        return {toggleNav, toggleLoading, pushNotify};
    }

    const vueComponentReflect = defineComponent({
        template: /*html*/`
            <div>
                <component is="style">{{css}}</component>
                <div class="reflect">
                    <slot></slot>
                </div>
            </div>
        `,
        setup() {
            /** @type {Ref<string>} */
            const css = ref(/*css*/`
                @scope {
                    @keyframes reflect {
                        0% {
                            transform: scale(0) rotate(45deg);
                            opacity: 0;
                        }

                        75% {
                            transform: scale(0) rotate(45deg);
                            opacity: 0.5;
                        }

                        80% {
                            transform: scale(5) rotate(45deg);
                            opacity: 1;
                        }

                        100% {
                            transform: scale(50) rotate(45deg);
                            opacity: 0;
                        }
                    }

                    .reflect {
                        position: relative;
                        overflow: hidden;

                        &::after {
                            content: "";
                            pointer-events: none;
                            position: absolute;
                            display: block;
                            top: -180px;
                            left: 0;
                            height: 100%;
                            width: 30px;
                            opacity: 0;
                            background-color: #FFFFFF;
                            transform: rotate(45deg);
                            animation: reflect 5s ease-in-out infinite;
                        }
                    }
                }
            `);

            return {css};
        }
    });

    const vueComponentFooter = defineComponent({
        template: /*html*/`
            <v-footer app class="justify-center align-center">Copyright</v-footer>
        `
    });

    const vueComponentHeader = defineComponent({
        template: /*html*/`
            <v-app-bar density="compact" class="text-white">
                <v-app-bar-nav-icon @click="toggleNav()"></v-app-bar-nav-icon>
                <v-app-bar-title class="text-h5">Application</v-app-bar-title>

                <template #image>
                    <v-img gradient="45deg, #174AFF, #0ECDFF"></v-img>
                </template>
            </v-app-bar>
        `,
        setup() {
            const {toggleNav} = useCommonUI();

            return {toggleNav};
        }
    });

    const vueComponentLoading = defineComponent({
        template: /*html*/`
            <v-overlay persistent no-click-animation z-index="4000" class="justify-center align-center" v-model="loading">
                <v-progress-circular indeterminate size="60" width="4" color="primary"></v-progress-circular>
            </v-overlay>
        `,
        setup() {
            /** @type {Ref<boolean>} */
            const loading = inject("$_loading");

            return {loading};
        }
    });

    const vueComponentNavigation = defineComponent({
        template: /*html*/`
            <v-navigation-drawer floating temporary v-model="nav">
                <v-list nav density="compact">
                    <v-list-item v-for="{path, name} in routes" :to="path">
                        <v-list-item-title>{{name}}</v-list-item-title>
                    </v-list-item>
                </v-list>

                <template #append>
                    <v-btn tile block prepend-icon="mdi-theme-light-dark" @click="toggleTheme">Light/Dark</v-btn>
                </template>
            </v-navigation-drawer>
        `,
        setup() {
            const theme = useTheme();
            const router = useRouter();

            /** @type {Ref<boolean>} */
            const nav = inject("$_nav");

            const routes = router.options.routes.filter(({path}) => !/:/.test(path));

            function toggleTheme() {
                theme.global.name.value = theme.global.current.value.dark ? "light" : "dark";
            }

            return {nav, routes, toggleTheme};
        }
    });

    const vueComponentNotify = defineComponent({
        template: /*html*/`
            <v-snackbar v-for="notify in notifies" model-value position="fixed" location="top" z-index="3000" :color="notify.color" timeout="-1" v-bind="notifyTimeout(notify, 5000)">
                <div>{{notify.message}}</div>

                <template #actions>
                    <v-btn ripple density="comfortable" icon="mdi-close" @click="notifyTimeout(notify, 0)"></v-btn>
                </template>
            </v-snackbar>
        `,
        setup() {
            /** @type {Notify[]} */
            const notifies = inject("$_notifies");

            /**
            * @param {Notify} notify
            * @param {number} ms
            * @return {void}
            */
            async function notifyTimeout(notify, ms) {
                await new Promise((done) => setTimeout(done, ms));

                const i = notifies.findIndex((v) => v === notify);

                if (i === -1) {
                    return;
                }

                notifies.splice(i, 1);
            }

            return {notifies, notifyTimeout};
        }
    });

    const vueLayoutDefault = defineComponent({
        template: /*html*/`
            <v-app>
                <layout-loading></layout-loading>
                <layout-notify></layout-notify>
                <layout-navigation></layout-navigation>
                <layout-header></layout-header>
                <v-main>
                    <router-view></router-view>
                </v-main>
                <layout-footer></layout-footer>
            </v-app>
        `,
        components: {
            "layout-loading": vueComponentLoading,
            "layout-notify": vueComponentNotify,
            "layout-navigation": vueComponentNavigation,
            "layout-header": vueComponentHeader,
            "layout-footer": vueComponentFooter
        }
    });

    const vuePageIndex = defineComponent({
        template: /*html*/`
            <v-container fluid>
                <v-row justify="center">
                    <v-col cols>
                        <v-card>
                            <v-card-item>
                                <v-card-title class="text-center">{{count}} : {{countx}}</v-card-title>
                            </v-card-item>

                            <v-card-actions class="justify-center">
                                <v-btn color="green" variant="flat" @click="increment()">Increment</v-btn>
                                <v-btn color="purple" variant="flat" @click="incrementx()">IncrementX</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        `,
        setup() {
            const {pushNotify} = useCommonUI();

            /** @type {Ref<number>} */
            const count = ref(0);
            /** @type {Ref<number>} */
            const countx = inject("$count");

            function increment() {
                count.value++;
                pushNotify("Increment!", "green");
            }

            function incrementx() {
                countx.value++;
                pushNotify("IncrementX!", "purple");
            }

            return {count, countx, increment, incrementx};
        }
    });

    const vuePageSub = defineComponent({
        template: /*html*/`
            <v-container fluid>
                <v-row justify="center">
                    <v-col cols>
                        <v-card>
                            <v-card-item>
                                <v-card-title class="text-center">{{countx}}</v-card-title>
                            </v-card-item>

                            <v-card-actions class="justify-center">
                                <x-reflect>
                                    <v-btn color="orange-darken-1" variant="flat" @click="resetx()">ResetX</v-btn>
                                </x-reflect>
                                <x-reflect>
                                    <v-btn color="teal-darken-1" variant="flat" @click="delayresetx()">DelayResetX</v-btn>
                                </x-reflect>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        `,
        setup() {
            const {toggleLoading, pushNotify} = useCommonUI();

            /** @type {Ref<number>} */
            const countx = inject("$count");

            function resetx() {
                countx.value = 0;
                pushNotify("ResetX!", "orange-darken-1");
            }

            async function delayresetx() {
                toggleLoading(true);
                await new Promise((done) => setTimeout(done, 1000));
                countx.value = 0;
                toggleLoading(false);
                pushNotify("ResetDelayX!", "teal-darken-1");
            }

            return {countx, resetx, delayresetx};
        }
    });

    const vuePageThird = defineComponent({
        template: /*html*/`
            <v-img :height="height" class="text-center align-center text-white" gradient="45deg, #FF9F17, #FF4E0E">
                <div v-if="mobile" class="text-h4">MOBILE</div>
                <div v-else class="text-h2">DESKTOP</div>
            </v-img>
        `,
        setup() {
            const display = useDisplay();
            const layout = useLayout();

            /** @type {Ref<boolean>} */
            const mobile = computed(() => display.mobile.value);
            /** @type {Ref<number>} */
            const height = computed(() => display.height.value - layout.mainRect.value.top - layout.mainRect.value.bottom);

            return {mobile, height};
        }
    });

    const vuePluginRouter = createRouter({
        history: createWebHashHistory(),
        routes: [{
            path: "/",
            name: "home",
            component: vuePageIndex
        }, {
            path: "/sub",
            name: "sub",
            component: vuePageSub
        }, {
            path: "/third",
            name: "third",
            component: vuePageThird
        }, {
            path: "/:catchAll(.*)",
            redirect: "/"
        }]
    });

    const vuePluginVuetify = createVuetify({
        defaults: {
            VBtn: {
                style: {
                    "text-transform": "none",
                    "letter-spacing": "normal",
                    "text-indent": 0
                }
            }
        }
    });

    const vuePluginComponent = {
        install(context) {
            context.component("x-reflect", vueComponentReflect);
        }
    };

    const vuePluginProvide = {
        install(context) {
            context.provide("$_nav", ref(false));
            context.provide("$_loading", ref(false));
            context.provide("$_notifies", reactive([]));

            context.provide("$count", ref(0));
        }
    };

    const vue = createApp(vueLayoutDefault);
    vue.use(vuePluginRouter);
    vue.use(vuePluginVuetify);
    vue.use(vuePluginComponent);
    vue.use(vuePluginProvide);
    vue.mount(document.getElementById("vue"));
</script>

<style>
    @import "https://esm.sh/vuetify@3.8.1/dist/vuetify.css";
    @import "https://esm.sh/@mdi/font@7.4.47/css/materialdesignicons.css";
    @import "https://fonts.googleapis.com/css?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700";

    * {
        font-family: "M PLUS 1 Code" !important;
        scrollbar-width: none !important;
    }
</style>

<title>Application</title>

<div id="vue"></div>